{% extends "shopapp/base.html" %}
{% load cache %}

{% block title %}
    user_orders
{% endblock %}

{% block body %}
    {% if object_list %}
        <h1>User {{ user.username }} completed the following orders:</h1>
{#        <h3>owner: {{ owner }}</h3>#}
        {% cache 100 somename owner 'user_orders' %}
{#        {% cache 100 somename user.pk 'user_orders' %}#}
            <ul>
                {% for order in object_list %}
                    <li>{{ order.created_at }} - {{ order.delivery_address }}</li>
                {% endfor %}
            </ul>
        {% endcache %}
        <div>
            <a href="{% url 'shopapp:export_user_orders' user.id %}">Export Orders</a>
        </div>
    {% else %}
        <h1>У пользователя {{ user.username }} ещё нет заказов.</h1>
    {% endif %}
{% endblock %}

{#{% extends "shopapp/base.html" %}#}
{#{% load cache %}#}
{##}
{#{% block title %}#}
{#    user_orders#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    {% if object_list %}#}
{#        <h1>User {{ user.username }} completed the following orders:</h1>#}
{#        <h3>owner: {{ owner }}</h3>#}
{#        {% debug %}  {# Вывод отладочной информации #}
{#        {% cache 100 somename owner 'user_orders' %}#}
{#            <ul>#}
{#                {% for order in object_list %}#}
{#                    <li>{{ order.created_at }} - {{ order.delivery_address }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endcache %}#}
{#        <div>#}
{#            <a href="{% url 'shopapp:export_user_orders' user.id %}">Export Orders</a>#}
{#        </div>#}
{#    {% else %}#}
{#        <h1>У пользователя {{ user.username }} ещё нет заказов.</h1>#}
{#    {% endif %}#}
{#{% endblock %}#}

