{% extends "shopapp/base.html" %}
{% load cache %}

{% block title %}
    user_orders
{% endblock %}

{% block body %}
    {% if object_list %}
        <h1>Пользователь {{ user.username }} выполнил следующие заказы:</h1>
        {% cache 100 somename owner %}
            <ul>
                {% for order in object_list %}
                    <li>{{ order.created_at }} - {{ order.delivery_address }}</li>
                {% endfor %}
            </ul>
        {% endcache %}
    {% else %}
        <h1>У пользователя {{ user.username }} ещё нет заказов.</h1>
    {% endif %}
{% endblock %}